<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <welcome-file-list>
    <welcome-file>index</welcome-file>
  </welcome-file-list>
  
  <!-- 
  ##########################################################################################
  ############################## SERVLET MAPPING ###########################################
  ##########################################################################################
  --> 
  
  <!-- 
  ############# LOGIN ############### 
  -->
  
  <servlet>
    <servlet-name>login</servlet-name>
    <jsp-file>/view/login.jsp</jsp-file>
  </servlet>
  
    <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  
  <!-- 
  ############# LOGIN ############### 
  -->
  
  
  
  <!-- 
  ############# SIGN OUT ############### 
  -->
  
  <servlet>
    <servlet-name>signOut</servlet-name>
    <jsp-file>/view/signOut.jsp</jsp-file>
  </servlet>
  
    <servlet-mapping>
    <servlet-name>signOut</servlet-name>
    <url-pattern>/signOut</url-pattern>
  </servlet-mapping>
  
 <!-- 
  ############# SIGN OUT ############### 
  -->
  
  
  
  
 <!-- 
  ############# INDEX ############### 
  -->
  
  <servlet>
    <servlet-name>index</servlet-name>
    <jsp-file>/view/index.jsp</jsp-file>
  </servlet>
  
    <servlet-mapping>
    <servlet-name>index</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  
   <!-- 
  ############# INDEX ############### 
  -->
  
  
  
  <!-- 
  ############# MY ACCOUNT ############### 
  -->
  
  <servlet>
    <servlet-name>myAccount</servlet-name>
    <jsp-file>/view/myAccount.jsp</jsp-file>
  </servlet>
  
    <servlet-mapping>
    <servlet-name>myAccount</servlet-name>
    <url-pattern>/myAccount</url-pattern>
  </servlet-mapping>
  
  <!-- 
  ############# MY ACCOUNT ############### 
  -->
  
  
  
  <!-- 
  ############# t ############### 
  -->
  <servlet>
    <servlet-name>t</servlet-name>
    <servlet-class>DBContext.DataBase</servlet-class>
  </servlet>
  
    <servlet-mapping>
    <servlet-name>t</servlet-name>
    <url-pattern>/t</url-pattern>
  </servlet-mapping>
  
  <!-- 
  ############# t ############### 
  -->
  
  
  
  <!-- 
  ############# USER INDEX ############### 
  -->
  
  <servlet>
    <servlet-name>userIndex</servlet-name>
    <jsp-file>/view/user/index.jsp</jsp-file>
  </servlet>
  
    <servlet-mapping>
    <servlet-name>userIndex</servlet-name>
    <url-pattern>/user/index</url-pattern>
  </servlet-mapping>
  
  <!-- 
  ############# USER INDEX ############### 
  -->



  <!-- 
  ############# USER CREATE ############### 
  -->
  
  <servlet>
    <servlet-name>userCreate</servlet-name>
    <jsp-file>/view/user/create.jsp</jsp-file>
  </servlet>
  
    <servlet-mapping>
    <servlet-name>userCreate</servlet-name>
    <url-pattern>/user/create</url-pattern>
  </servlet-mapping>
  
  <!-- 
  ############# USER CREATE ############### 
  -->



 <!-- 
  ############# USER EDIT ############### 
  -->
  
  <servlet>
    <servlet-name>userEdit</servlet-name>
    <jsp-file>/view/user/edit.jsp</jsp-file>
  </servlet>
  
    <servlet-mapping>
    <servlet-name>userEdit</servlet-name>
    <url-pattern>/user/edit/*</url-pattern>
  </servlet-mapping>
  
  <!-- 
  ############# USER EDIT ############### 
  -->
  
  
   <!-- 
  ############# USER DELETE ############### 
  -->
  
  <servlet>
    <servlet-name>userDelete</servlet-name>
    <jsp-file>/view/user/delete.jsp</jsp-file>
  </servlet>
  
    <servlet-mapping>
    <servlet-name>userDelete</servlet-name>
    <url-pattern>/user/delete/*</url-pattern>
  </servlet-mapping>
  
  <!-- 
  ############# USER DELETE ############### 
  -->
  
  
  
  <!-- 
  ############# PROCESS INDEX ############### 
  -->
  
  <servlet>
    <servlet-name>processIndex</servlet-name>
    <jsp-file>/view/process/index.jsp</jsp-file>
  </servlet>
  
    <servlet-mapping>
    <servlet-name>processIndex</servlet-name>
    <url-pattern>/process/index</url-pattern>
  </servlet-mapping>
  
  <!-- 
  ############# PROCESS INDEX ############### 
  -->
  
  
  <!-- 
  ############# PROCESS CREATE ############### 
  -->
  
  <servlet>
    <servlet-name>processCreate</servlet-name>
    <jsp-file>/view/process/create.jsp</jsp-file>
  </servlet>
  
    <servlet-mapping>
    <servlet-name>processCreate</servlet-name>
    <url-pattern>/process/create</url-pattern>
  </servlet-mapping>
  
  <!-- 
  ############# PROCESS CREATE ############### 
-->



 <!-- 
  ############# PROCESS EDIT ############### 
  -->
  
  <servlet>
    <servlet-name>processEdit</servlet-name>
    <jsp-file>/view/process/edit.jsp</jsp-file>
  </servlet>
  
    <servlet-mapping>
    <servlet-name>processEdit</servlet-name>
    <url-pattern>/process/edit/*</url-pattern>
  </servlet-mapping>
  
  <!-- 
  ############# PROCESS EDIT ############### 
  -->
  
  
     <!-- 
  ############# PROCESS DELETE ############### 
  -->
  
  <servlet>
    <servlet-name>processDelete</servlet-name>
    <jsp-file>/view/process/delete.jsp</jsp-file>
  </servlet>
  
    <servlet-mapping>
    <servlet-name>processDelete</servlet-name>
    <url-pattern>/process/delete/*</url-pattern>
  </servlet-mapping>
  
  <!-- 
  ############# PROCESS DELETE ############### 
  -->
  
  
   <!-- 
  ############# PROCESS ORDER INDEX ############### 
  -->
  
  <servlet>
    <servlet-name>processOrderIndex</servlet-name>
    <jsp-file>/view/processOrder/index.jsp</jsp-file>
  </servlet>
  
    <servlet-mapping>
    <servlet-name>processOrderIndex</servlet-name>
    <url-pattern>/processOrder/index</url-pattern>
  </servlet-mapping>
  
  <!-- 
  ############# PROCESS ORDER INDEX ############### 
  -->
  
  
     <!-- 
  ############# PROCESS ORDER CREATE ############### 
  -->
  
  <servlet>
    <servlet-name>processOrderCreate</servlet-name>
    <jsp-file>/view/processOrder/create.jsp</jsp-file>
  </servlet>
  
    <servlet-mapping>
    <servlet-name>processOrderCreate</servlet-name>
    <url-pattern>/processOrder/create</url-pattern>
  </servlet-mapping>
  
  <!-- 
  ############# PROCESS ORDER CREATE ############### 
  -->
  
  
  <!-- 
  ############# PROCESS ORDER EDIT ############### 
  -->
  
  <servlet>
    <servlet-name>processOrderEdit</servlet-name>
    <jsp-file>/view/processOrder/edit.jsp</jsp-file>
  </servlet>
  
    <servlet-mapping>
    <servlet-name>processOrderEdit</servlet-name>
    <url-pattern>/processOrder/edit/*</url-pattern>
  </servlet-mapping>
  
  <!-- 
  ############# PROCESS ORDER EDIT ############### 
  -->
  


 <!-- 
  ############# PROCESS ORDER DELETE ############### 
  -->
  
  <servlet>
    <servlet-name>processOrderDelete</servlet-name>
    <jsp-file>/view/processOrder/delete.jsp</jsp-file>
  </servlet>
  
    <servlet-mapping>
    <servlet-name>processOrderDelete</servlet-name>
    <url-pattern>/processOrder/delete/*</url-pattern>
  </servlet-mapping>
  
  <!-- 
  ############# PROCESS ORDER DELETE ############### 
  -->
  
  
  <!-- 
  ############# PROCESS STEP INDEX ############### 
  -->
  
  <servlet>
    <servlet-name>processStepIndex</servlet-name>
    <jsp-file>/view/processStep/index.jsp</jsp-file>
  </servlet>
  
    <servlet-mapping>
    <servlet-name>processStepIndex</servlet-name>
    <url-pattern>/processStep/index</url-pattern>
  </servlet-mapping>
  
  <!-- 
  ############# PROCESS STEP INDEX ############### 
  -->
  
  
     <!-- 
  ############# PROCESS STEP CREATE ############### 
  -->
  
  <servlet>
    <servlet-name>processStepCreate</servlet-name>
    <jsp-file>/view/processStep/create.jsp</jsp-file>
  </servlet>
  
    <servlet-mapping>
    <servlet-name>processStepCreate</servlet-name>
    <url-pattern>/processStep/create</url-pattern>
  </servlet-mapping>
  
  <!-- 
  ############# PROCESS STEP CREATE ############### 
  -->



  <!-- 
  ############# PROCESS STEP EDIT ############### 
  -->
  
  <servlet>
    <servlet-name>processStepEdit</servlet-name>
    <jsp-file>/view/processStep/edit.jsp</jsp-file>
  </servlet>
  
    <servlet-mapping>
    <servlet-name>processStepEdit</servlet-name>
    <url-pattern>/processStep/edit/*</url-pattern>
  </servlet-mapping>
  
  <!-- 
  ############# PROCESS STEP EDIT ############### 
  -->
  
  
   <!-- 
  ############# PROCESS STEP DELETE ############### 
  -->
  
  <servlet>
    <servlet-name>processStepDelete</servlet-name>
    <jsp-file>/view/processStep/delete.jsp</jsp-file>
  </servlet>
  
    <servlet-mapping>
    <servlet-name>processStepDelete</servlet-name>
    <url-pattern>/processStep/delete/*</url-pattern>
  </servlet-mapping>
  
  <!-- 
  ############# PROCESS STEP DELETE ############### 
  -->
  
  
  <!--
  ############# ROLE INDEX ############### 
  -->
  
  <servlet>
    <servlet-name>roleIndex</servlet-name>
    <jsp-file>/view/role/index.jsp</jsp-file>
  </servlet>
  
    <servlet-mapping>
    <servlet-name>roleIndex</servlet-name>
    <url-pattern>/role/index</url-pattern>
  </servlet-mapping>
  
  <!-- 
  ############# ROLE INDEX ############### 
  -->
  
  
  <!-- 
  ############# ROLE CREATE ############### 
  -->
  
  <servlet>
    <servlet-name>roleCreate</servlet-name>
    <jsp-file>/view/role/create.jsp</jsp-file>
  </servlet>
  
    <servlet-mapping>
    <servlet-name>roleCreate</servlet-name>
    <url-pattern>/role/create</url-pattern>
  </servlet-mapping>
  
  <!-- 
  ############# ROLE CREATE ############### 
  -->



  <!-- 
  ############# ROLE EDIT ############### 
  -->
  
  <servlet>
    <servlet-name>roleEdit</servlet-name>
    <jsp-file>/view/role/edit.jsp</jsp-file>
  </servlet>
  
    <servlet-mapping>
    <servlet-name>roleEdit</servlet-name>
    <url-pattern>/role/edit/*</url-pattern>
  </servlet-mapping>
  
  <!-- 
  ############# ROLE EDIT ############### 
  -->
  
  
   <!-- 
  ############# ROLE DELETE ############### 
  -->
  
  <servlet>
    <servlet-name>roleDelete</servlet-name>
    <jsp-file>/view/role/delete.jsp</jsp-file>
  </servlet>
  
    <servlet-mapping>
    <servlet-name>roleDelete</servlet-name>
    <url-pattern>/role/delete/*</url-pattern>
  </servlet-mapping>
  
  <!-- 
  ############# ROLE DELETE ############### 
  -->
  
  
  
    <!--
  ############# ROLE PROCESS INDEX ############### 
  -->
  
  <servlet>
    <servlet-name>roleProcessIndex</servlet-name>
    <jsp-file>/view/roleProcess/index.jsp</jsp-file>
  </servlet>
  
    <servlet-mapping>
    <servlet-name>roleProcessIndex</servlet-name>
    <url-pattern>/roleProcess/index</url-pattern>
  </servlet-mapping>
  
  <!-- 
  ############# ROLE PROCESS INDEX ############### 
  -->
  
  
  <!-- 
  ############# ROLE PROCESS CREATE ############### 
  -->
  
  <servlet>
    <servlet-name>roleProcessCreate</servlet-name>
    <jsp-file>/view/roleProcess/create.jsp</jsp-file>
  </servlet>
  
    <servlet-mapping>
    <servlet-name>roleProcessCreate</servlet-name>
    <url-pattern>/roleProcess/create</url-pattern>
  </servlet-mapping>
  
  <!-- 
  ############# ROLE PROCESS CREATE ############### 
  -->



  <!-- 
  ############# ROLE PROCESS EDIT ############### 
  -->
  
  <servlet>
    <servlet-name>roleProcessEdit</servlet-name>
    <jsp-file>/view/roleProcess/edit.jsp</jsp-file>
  </servlet>
  
    <servlet-mapping>
    <servlet-name>roleProcessEdit</servlet-name>
    <url-pattern>/roleProcess/edit/*</url-pattern>
  </servlet-mapping>
  
  <!-- 
  ############# ROLE Process EDIT ############### 
  -->
  
  
   <!-- 
  ############# ROLE PROCESS DELETE ############### 
  -->
  
  <servlet>
    <servlet-name>roleProcessDelete</servlet-name>
    <jsp-file>/view/roleProcess/delete.jsp</jsp-file>
  </servlet>
  
    <servlet-mapping>
    <servlet-name>roleProcessDelete</servlet-name>
    <url-pattern>/roleProcess/delete/*</url-pattern>
  </servlet-mapping>
  
  <!-- 
  ############# ROLE PROCESS DELETE ############### 
  -->
  
  
 <!--
  ############# USER ROLE INDEX ############### 
  -->
  
  <servlet>
    <servlet-name>userRoleIndex</servlet-name>
    <jsp-file>/view/userRole/index.jsp</jsp-file>
  </servlet>
  
    <servlet-mapping>
    <servlet-name>userRoleIndex</servlet-name>
    <url-pattern>/userRole/index</url-pattern>
  </servlet-mapping>
  
  <!-- 
  ############# USER ROLE INDEX ############### 
  -->
  
  
  <!-- 
  ############# USER ROLE CREATE ############### 
  -->
  
  <servlet>
    <servlet-name>userRoleCreate</servlet-name>
    <jsp-file>/view/userRole/create.jsp</jsp-file>
  </servlet>
  
    <servlet-mapping>
    <servlet-name>userRoleCreate</servlet-name>
    <url-pattern>/userRole/create</url-pattern>
  </servlet-mapping>
  
  <!-- 
  ############# USER ROLE CREATE ############### 
  -->



  <!-- 
  ############# USER ROLE EDIT ############### 
  -->
  
  <servlet>
    <servlet-name>userRoleEdit</servlet-name>
    <jsp-file>/view/userRole/edit.jsp</jsp-file>
  </servlet>
  
    <servlet-mapping>
    <servlet-name>userRoleEdit</servlet-name>
    <url-pattern>/userRole/edit/*</url-pattern>
  </servlet-mapping>
  
  <!-- 
  ############# USER ROLE EDIT ############### 
  -->
  
  
   <!-- 
  ############# USER ROLE DELETE ############### 
  -->
  
  <servlet>
    <servlet-name>userRoleDelete</servlet-name>
    <jsp-file>/view/userRole/delete.jsp</jsp-file>
  </servlet>
  
    <servlet-mapping>
    <servlet-name>userRoleDelete</servlet-name>
    <url-pattern>/userRole/delete/*</url-pattern>
  </servlet-mapping>
  
  <!-- 
  ############# USER ROLE DELETE ############### 
  -->
  
  
  
   <!--
  ############# WORK DEFINITION INDEX ############### 
  -->
  
  <servlet>
    <servlet-name>workDefinitionIndex</servlet-name>
    <jsp-file>/view/workDefinition/index.jsp</jsp-file>
  </servlet>
  
    <servlet-mapping>
    <servlet-name>workDefinitionIndex</servlet-name>
    <url-pattern>/workDefinition/index</url-pattern>
  </servlet-mapping>
  
  <!-- 
  ############# WORK DEFINITION INDEX ############### 
  -->
  
  
  <!-- 
  ############# WORK DEFINITION CREATE ############### 
  -->
  
  <servlet>
    <servlet-name>workDefinitionCreate</servlet-name>
    <jsp-file>/view/workDefinition/create.jsp</jsp-file>
  </servlet>
  
    <servlet-mapping>
    <servlet-name>workDefinitionCreate</servlet-name>
    <url-pattern>/workDefinition/create</url-pattern>
  </servlet-mapping>
  
  <!-- 
  ############# WORK DEFINITION CREATE ############### 
  -->



  <!-- 
  ############# WORK DEFINITION EDIT ############### 
  -->
  
  <servlet>
    <servlet-name>workDefinitionEdit</servlet-name>
    <jsp-file>/view/workDefinition/edit.jsp</jsp-file>
  </servlet>
  
    <servlet-mapping>
    <servlet-name>workDefinitionEdit</servlet-name>
    <url-pattern>/workDefinition/edit/*</url-pattern>
  </servlet-mapping>
  
  <!-- 
  ############# WORK DEFINITION EDIT ############### 
  -->
  
  
   <!-- 
  ############# WORK DEFINITON DELETE ############### 
  -->
  
  <servlet>
    <servlet-name>workDefinitionDelete</servlet-name>
    <jsp-file>/view/workDefinition/delete.jsp</jsp-file>
  </servlet>
  
    <servlet-mapping>
    <servlet-name>workDefinitionDelete</servlet-name>
    <url-pattern>/workDefinition/delete/*</url-pattern>
  </servlet-mapping>
  
  <!-- 
  ############# WORK DEFINITON DELETE ############### 
  -->
  
  
  
  <!--
  ############# PLANNING INDEX ############### 
  -->
  
  <servlet>
    <servlet-name>planningIndex</servlet-name>
    <jsp-file>/view/planning/index.jsp</jsp-file>
  </servlet>
  
    <servlet-mapping>
    <servlet-name>planningIndex</servlet-name>
    <url-pattern>/planning/index</url-pattern>
  </servlet-mapping>
  
  <!-- 
  ############# PLANNING INDEX ############### 
  -->
  
  
  <!-- 
  ############# PLANNING CREATE ############### 
  -->
  
  <servlet>
    <servlet-name>planningCreate</servlet-name>
    <jsp-file>/view/planning/create.jsp</jsp-file>
  </servlet>
  
    <servlet-mapping>
    <servlet-name>planningCreate</servlet-name>
    <url-pattern>/planning/create</url-pattern>
  </servlet-mapping>
  
  <!-- 
  ############# PLANNING CREATE ############### 
  -->



  <!-- 
  ############# PLANNING EDIT ############### 
  -->
  
  <servlet>
    <servlet-name>planningEdit</servlet-name>
    <jsp-file>/view/planning/edit.jsp</jsp-file>
  </servlet>
  
    <servlet-mapping>
    <servlet-name>planningEdit</servlet-name>
    <url-pattern>/planning/edit/*</url-pattern>
  </servlet-mapping>
  
  <!-- 
  ############# PLANNING EDIT ############### 
  -->
  
  
   <!-- 
  ############# PLANNING DELETE ############### 
  -->
  
  <servlet>
    <servlet-name>planningDelete</servlet-name>
    <jsp-file>/view/planning/delete.jsp</jsp-file>
  </servlet>
  
    <servlet-mapping>
    <servlet-name>planningDelete</servlet-name>
    <url-pattern>/planning/delete/*</url-pattern>
  </servlet-mapping>
  
  <!-- 
  ############# PLANNING DELETE ############### 
  -->
  
  
  
  
    <!--
  ############# ROLE CONTROLLER INDEX ############### 
  -->
  
  <servlet>
    <servlet-name>roleControllerIndex</servlet-name>
    <jsp-file>/view/roleController/index.jsp</jsp-file>
  </servlet>
  
    <servlet-mapping>
    <servlet-name>roleControllerIndex</servlet-name>
    <url-pattern>/roleController/index</url-pattern>
  </servlet-mapping>
  
  <!-- 
  ############# ROLE CONTROLLER INDEX ############### 
  -->
  
  
  <!-- 
  ############# ROLE CONTROLLER CREATE ############### 
  -->
  
  <servlet>
    <servlet-name>roleControllerCreate</servlet-name>
    <jsp-file>/view/roleController/create.jsp</jsp-file>
  </servlet>
  
    <servlet-mapping>
    <servlet-name>roleControllerCreate</servlet-name>
    <url-pattern>/roleController/create</url-pattern>
  </servlet-mapping>
  
  <!-- 
  ############# ROLE CONTROLLER CREATE ############### 
  -->



  <!-- 
  ############# ROLE CONTROLLER EDIT ############### 
  -->
  
  <servlet>
    <servlet-name>roleControllerEdit</servlet-name>
    <jsp-file>/view/roleController/edit.jsp</jsp-file>
  </servlet>
  
    <servlet-mapping>
    <servlet-name>roleControllerEdit</servlet-name>
    <url-pattern>/roleController/edit/*</url-pattern>
  </servlet-mapping>
  
  <!-- 
  ############# ROLE CONTROLLER EDIT ############### 
  -->
  
  
   <!-- 
  ############# ROLE CONTROLLER DELETE ############### 
  -->
  
  <servlet>
    <servlet-name>roleControllerDelete</servlet-name>
    <jsp-file>/view/roleController/delete.jsp</jsp-file>
  </servlet>
  
    <servlet-mapping>
    <servlet-name>roleControllerDelete</servlet-name>
    <url-pattern>/roleController/delete/*</url-pattern>
  </servlet-mapping>
  
  <!-- 
  ############# ROLE CONTROLLER DELETE ############### 
  -->
</web-app>