/USER.class
/USERPROFILE.class
/PROCESS.class
/PROCESSORDER.class
/PROCESSSTEP.class
/ROLE.class
/ROLEPROCESS.class
/USERROLE.class
/WORKDEFINITION.class
/UserRoleModel.class
/CONTROLLER.class
/ROLECONTROLLER.class
