.JcalendarHead{
	position:relative;
	height:40px;
	width:700px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:30px;
}

.JcalendarHead .prev, .JcalendarHead .next, .JcalendarHead .btn{
	position:absolute;
	left:0px;
	margin-left:0px;
	width:50px;
	height:25px;
	float:left;
	font-size:14px;
	background:linear-gradient(#ffffff, #e6e6e6);
	border:1px solid #cccccc;
	color:#666666;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	outline:none;
}

.JcalendarHead .next{
	left:50px;
	border-left:none;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.JcalendarHead .btn{
	border-radius:3px;
	left:110px;
	width:auto;
	min-width:65px;
	font-size:12px;
}

.Jcalendar{
	background-color:#cccccc;
	color:#666666;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}

.Jcalendar thead th{
	width:99px;
	height:25px;
	background-color:#ffffff;
	
}

.Jcalendar tbody tr td{
	height:75px;
	max-height:75px;
	background-color:#ffffff;
	font-size:12px;
	overflow-y:auto;
}

.passive{
	background-color:#efefef !important;
	color: #bbbbbb !important;
}

.selectedDay{
	background-color:#ade1ff !important;
	color: #333333 !important;
}

.dropped{
	width:90%;
	height:15px;
	line-height:15px;
	margin-left:5%;
	color:#ffffff;
	text-align: center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	border-radius:3px;
	cursor:default;
}

.draggableEvent{
	width:90%;
	height:25px;
	line-height:25px;
	margin-left:5%;
	color:#ffffff;
	text-align: center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	border-radius:3px;
	cursor:move;
}